$myOrange: #ffa640;
$myOrangeLighter: #ffcc80;
$myPink: #db76d4;

header {
    background-color: $myOrange;
    padding: 20px 40px;
    padding-top: 10px;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
}

img.card {
    height: 450px;
	box-shadow: 1px 1px 12px -3px;
	border-radius: 5px;
}

/* --------------------------------- */
/* --------- DROPDOWN LIST --------- */
/* --------------------------------- */

#filterSection {
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-bottom: 0;

    button {
        margin-bottom: 15px;
    }
}

.dropdownInput {
	display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* The container <div> - needed to position the dropdown content */
.dropdownList {
	position: relative;
	display: inline-block;
	margin: 15px;
}

// /* Dropdown Content (Hidden by Default) */
.dropdownContent {
	border-top: 1px solid #9C9C9C;
    border-radius: 4px;
    
    width: 100%;

	// z-index: 1;
    position: absolute;
    
	display: none;
}

.showDropdown {
	display: block;
}
.dropdownContentElement {
    font-family: 'Roboto', sans-serif;
    font-size: 14.5px;
    
	border: 1px solid rgb(207, 207, 207);
	border-top: 0px;
	border-radius: 4px;
	text-align: center;
	background-color: white;
	color: black;
	cursor: pointer;
	padding-top: 9px;
	padding-bottom: 7px;
	&:hover {
        background-color: $myOrangeLighter;
	}
}

/* --------------------------------- */
/* -------- AUTHOR CREDITS --------- */
/* --------------------------------- */

.authorWrapper {
    display: flex;
    justify-content: center;
}

.author {
    border: 1.5px solid $myOrange;
    background-color: $myOrangeLighter;
    padding: 9px;
    border-radius: 4px;
}

.icon {
	width: 20px;
	font-size: 18px;
	margin-left: 2px;
	vertical-align: middle;
}
a:hover, a:visited, a:link, a:active {
	&.icon {
		text-decoration: none;
	}
}

.cardWrapper {
	margin: 5px;
	display: flex;
	flex-direction: column;
}

.cardsList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    margin-top: 15px;
}

// .regenerateButton {
// 	display: inline-block;
// }

/* --------------------------------- */
/* -- STYLE IMPORTED FROM DIXIMAC -- */
/* --------------------------------- */

#main {
	padding: 25px;

	background-image: url(../img/bg-game.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-size: cover;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.authorSection {
	background-color: rgba($color: #ffecc7, $alpha: 0.8);
	border-radius: 3px;
	padding: 5px 15px;
	margin: 15px 0;
	margin-bottom: 25px;
}

h1 {
    font-size: 2rem;
    font-family: 'Berkshire Swash', cursive;
	font-weight: normal;
}

h2 {
	// color: white;
	text-align: center;
	font-size: 1.5rem;
	margin: 5px 0;
	// font-family: 'Berkshire Swash', cursive;
	// font-weight: normal;
}

a {
    color:#7511bd;
    
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
    a:hover {
        text-decoration: none;
        color: #6c3492;
    }


.btn-secondary {
    background-color: #422159;
}

    .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
        background-color: #331945;
    }